@import "components/_chat";
@import "components/_covoit";
@import "components/_covoitSingle";
@import "components/_privateHeader";
@import "components/_addCovoit";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html{
    padding-bottom: 5rem;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 100%;
}

#app{
    width: 90%;
    margin: 1rem auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: white;
    margin-bottom: 1rem;
    font-size: 4rem;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

input, textarea {
    border: 1px solid #bac;
    width: 100%;
    max-width: 100%;
    margin: .3rem 0;
    border-radius: .2rem;
    padding: .5rem;
}

textarea {
    width: 100%;
    height: 4em;
}

a.back {
    display: inline-block;
    margin-bottom: -1rem;
    margin: 1rem;
}

button,a.link {
    background: white;
    display:inline-block;
	font:normal normal 300 1.1em 'Open Sans';
	text-decoration:none;
    cursor: pointer;
	
	color:rgba(28, 190, 131, 1);
	border:1px solid rgba(28, 190, 131, 1);
	
	padding: 0.1em 0.6em .3rem .6rem;
	margin:.4rem 0;
			
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

button:hover, a.link:hover{
	color:rgba(255, 255, 255, 1);
	background-color:rgba(28, 190, 131, 1);
	background-position: -100% 100%;
}