.covoitSingle {
    border-radius: 5px;
    border: 1px solid #dccdcd;
    padding: 1rem;
    margin: 1rem 0;
    background: #fdfdfd;
    h3 {
        margin: 0;
    }
    p {
        margin: .5rem 0
    }
    a.display {
        margin-right: 1rem;
    }
    a.display {
        margin-right: 1rem;
    }
    a.admin {
        color: purple;
        border: 1px solid purple;
        background-image: linear-gradient(to right, transparent 50%, purple 50%);
    }
    a.admin:hover {
        color:rgba(255, 255, 255, 1);
	    background-color:purple;
    }
}