    .label {
        float: right;
        background: #1cbe83;
        padding: .2rem .6rem;
        color: white;
        font-weight: bolder
    }
    .puce{
        padding: .1rem .65rem .1rem .4rem;
        background: #6cafde;
        border-radius: 122%;
        color: white;
        width: 2rem;
        height: 2rem;
        margin: 0rem;
        font-weight: bolder;
        margin-left: .3rem;
        line-height: 2rem;
    }
    .header {
        margin-bottom: 1rem;
    }