    .label {
        float: right;
        background: #1cbe83;
        padding: .2rem .6rem;
        color: white;
        font-weight: bolder;
        border-radius: .3rem;
    }
    .label.disabeled {
        background: red;
    }
    .puce{
        padding: .1rem .65rem .1rem .4rem;
        background: #6cafde;
        border-radius: 122%;
        color: white;
        width: 2rem;
        height: 2rem;
        margin: 0rem;
        font-weight: bolder;
        margin-left: .3rem;
        line-height: 2rem;
    }
    .puce.orange{
        background: #ffc760;
    }
    .header {
        margin: 1rem 0;
    }